@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Ordered roughly by size, descending*/
h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 84px;
  line-height: 102px;
  letter-spacing: -2px;
}

h2 {
  font-family: Actor, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
}

p {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  /*min-height: 100%;
  min-height: 50px;*/
}

a {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  opacity: 0.7;
}
